<div class="row g-0 position-relative">
  <div class="img-cover position-absolute h-100 w-100"></div>
  <%= image_tag Category.first.recipes.last.image, class: "img-fluid cover"%>
  <div class="w-100 h-100 position-relative img-cover">
    <div class="position-absolute img-bottom">
      <a href="#" class="text-decoration-none"><h1 class="text-warning fw-bold ">Lorem Ipsun</h1></a>
      <p class="text-light"><%= truncate(Category.first.recipes.first.content, length: 250, separator: ' ') %></p>
      <%= link_to "Read Mode", root_path, class: "text-warning text-decoration-none" %>
    </div>
  </div>
</div>

<div class="row g-0">
  <% @category.each do |category| %>
  <div class="col position-relative">
    <div class="img-cover position-absolute h-100 w-100"></div>
    <%= image_tag category.recipes.last.image, class: "img-fluid cover h-100" %>
    <div class="position-absolute img-bottom">
      <h1 class="text-warning fw-bold"><%= category.name %></h1>
      <p class="text-light"><%= truncate(category.recipes.last.title, length: 100, separator: ' ') %></p>
    </div>
  </div>
  <% end %>
</div>