<div class="h-87 d-flex justify-content-center align-items-center">
  <div class="card" style="width: 30vw; max-height: 70vh">
    <div class="card-header">
      <h2 class="card-title fw-bold text-warning text-center">New Category</h2>
    </div>
    <div class="card-body">
      <%= form_for :category, url: new_category_path do |f| %>
        <% if @category.errors.any? %>
          <% @category.errors.full_messages.each do |msg| %>
            <div class="alert alert-danger"><%= msg %></div>
          <% end %>
        <% end %>
        <div class="my-3">
          <%= f.label :name, class: 'form-label'%>
          <%= f.text_field :name, class: 'form-control' %>
        </div>

        <div class="my-3">
          <%= f.label :priority, class: 'form-label'%>
          <%= f.text_field :priority, class: 'form-control' %>
        </div>
        <div class="actions d-flex justify-content-center my-4">
          <%= f.submit "Create", class: 'btn btn-warning w-50' %>
        </div>
      <% end %>
    </div>
  </div>
</div>