<div class="h-87" style="overflow: auto">
  <% if @category.count != 0 %>
    <% @category.each_slice(2).with_index do |(first, second), i| %>
      <% if i%2 == 0 %>
        <div class="row g-0">
          <div class="col-3 position-relative grid-img">
            <div class="img-cover position-absolute h-100 w-100"></div>
            <%= image_tag first.image, class: "img-fluid cover h-100 w-100" %>
          </div>
          <div class="col-3 position-relative">
            <div class="position-absolute p-3 h-100">
              <div class="d-flex justify-content-between align-items-center">
              <%= link_to first.category.name + " by " + first.user.name, recipe_path(first), class: 'text-capitalize fs-2 text-decoration-none mb-2 text-warning fw-bold border-bottom border-3 w-fit-content border-warning' %>
              <%= button_to "Vote " + first.vote.number_votes, recipe_vote_path(first), class: 'btn btn-warning fw-bold text-light py-1 px-2 mx-3' %>
              </div>
              <h3 class="text-dark"> <%= first.title %> </h3>
              <p class="block-with-text"><%=  truncate(first.content, length: 280, separator: ' ')  %></p>
            </div>

          </div>
          <% if second != nil %>
            <div class="col-3 position-relative grid-img">
              <div class="img-cover position-absolute h-100 w-100"></div>
              <%= image_tag second.image, class: "img-fluid cover h-100 w-100" %>
            </div>
            <div class="col-3 position-relative">
              <div class="position-absolute p-3 h-100">
                <div class="d-flex justify-content-between align-items-center">
                <%= link_to second.category.name + " by " + second.user.name, recipe_path(second), class: 'text-capitalize fs-2 text-decoration-none mb-2 text-warning fw-bold border-bottom border-3 w-fit-content border-warning' %>
                <%= button_to "Vote " + second.vote.number_votes, recipe_vote_path(second), class: 'btn btn-warning fw-bold text-light py-1 px-2 mx-3' %>
                </div>
                <h3 class="text-dark"> <%= second.title %> </h3>
                <p class="block-with-text"><%=  truncate(second.content, length: 280, separator: ' ')  %></p>
              </div>

            </div>
            <% end %>
        </div>
      <% else %>
        <div class="row g-0">
          <div class="col-3 position-relative">
            <div class="position-absolute p-3 h-100">
              <div class="d-flex justify-content-between align-items-center">
              <%= link_to first.category.name + " by " + first.user.name, recipe_path(first), class: 'text-capitalize fs-2 text-decoration-none mb-2 text-warning fw-bold border-bottom border-3 w-fit-content border-warning' %>
              <%= button_to "Vote " + first.vote.number_votes, recipe_vote_path(first), class: 'btn btn-warning fw-bold text-light py-1 px-2 mx-3' %>
              </div>
              <h3 class="text-dark"> <%= first.title %> </h3>
              <p class="block-with-text"><%=  truncate(first.content, length: 280, separator: ' ')  %></p>
            </div>

          </div>
          <div class="col-3 position-relative grid-img">
            <div class="img-cover position-absolute h-100 w-100"></div>
            <%= image_tag first.image, class: "img-fluid cover h-100 w-100" %>
          </div>
          <% if second != nil %>
            <div class="col-3 position-relative">
              <div class="position-absolute p-3 h-100">
                <div class="d-flex justify-content-between align-items-center">
                <%= link_to second.category.name + " by " + second.user.name, recipe_path(second), class: 'text-capitalize fs-2 text-decoration-none mb-2 text-warning fw-bold border-bottom border-3 w-fit-content border-warning' %>
                <%= button_to "Vote " + second.vote.number_votes, recipe_vote_path(second), class: 'btn btn-warning fw-bold text-light py-1 px-2 mx-3' %>
                </div>
                <h3 class="text-dark"> <%= second.title %> </h3>
                <p class="block-with-text"><%=  truncate(second.content, length: 280, separator: ' ')  %></p>
              </div>

            </div>
            <div class="col-3 position-relative grid-img">
              <div class="img-cover position-absolute h-100 w-100"></div>
              <%= image_tag second.image, class: "img-fluid cover h-100 w-100" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
 <% else %>
    <div class="h-87 d-flex justify-content-center align-items-center">
      <h1 class="text-warning fw-light fst-italic">No recipes here, go and create the first! :)</h1>
    </div>
 <% end %>
</div>
