<div class="h-87">
  <% if @category.recipes.count != 0 %>
    <% @category.recipes.each_slice(2).with_index do |(first, second), i| %>
      <% if i%2 == 0 %>
        <div class="row g-0">
          <div class="col-3 position-relative grid-img">
            <div class="img-cover position-absolute h-100 w-100"></div>
            <%= image_tag first.image, class: "img-fluid cover h-100 w-100" %>
          </div>
          <div class="col-3 position-relative">
            <div class="position-absolute p-3 h-100">
              <h5 class="text-warning fw-bold border-bottom border-3 w-fit-content border-warning"><%= @category.name %></h5>
              <h3 class="text-dark"> <%= first.title %> </h3>
              <p class="block-with-text"><%=  truncate(first.content, length: 280, separator: ' ')  %></p>
            </div>
            <%= link_to 'Read more...', recipe_path(first), class: 'position-absolute m-3 text-decoration-none text-warning fw-bold bottom-0' %>
          </div>
          <% if second != nil %>
            <div class="col-3 position-relative grid-img">
              <div class="img-cover position-absolute h-100 w-100"></div>
              <%= image_tag second.image, class: "img-fluid cover h-100 w-100" %>
            </div>
            <div class="col-3 position-relative">
              <div class="position-absolute p-3 h-100">
                <h5 class="text-warning fw-bold border-bottom border-3 w-fit-content border-warning"><%= @category.name %></h5>
                <h3 class="text-dark"> <%= second.title %> </h3>
                <p class="block-with-text"><%=  truncate(second.content, length: 280, separator: ' ')  %></p>
              </div>
              <%= link_to 'Read more...', recipe_path(second), class: 'position-absolute m-3 text-decoration-none text-warning fw-bold bottom-0' %>
            </div>
            <% end %>
        </div>
      <% else %>
        <div class="row g-0">
          <div class="col-3 position-relative">
            <div class="position-absolute p-3 h-100">
              <h5 class="text-warning fw-bold border-bottom border-3 w-fit-content border-warning"><%= @category.name %></h5>
              <h3 class="text-dark"> <%= first.title %> </h3>
              <p class="block-with-text"><%=  truncate(first.content, length: 280, separator: ' ')  %></p>
            </div>
            <%= link_to 'Read more...', recipe_path(first), class: 'position-absolute m-3 text-decoration-none text-warning fw-bold bottom-0' %>
          </div>
          <div class="col-3 position-relative grid-img">
            <div class="img-cover position-absolute h-100 w-100"></div>
            <%= image_tag first.image, class: "img-fluid cover h-100 w-100" %>
          </div>
          <% if second != nil %>
            <div class="col-3 position-relative">
              <div class="position-absolute p-3 h-100">
                <h5 class="text-warning fw-bold border-bottom border-3 w-fit-content border-warning"><%= @category.name %></h5>
                <h3 class="text-dark"> <%= second.title %> </h3>
                <p class="block-with-text"><%=  truncate(second.content, length: 280, separator: ' ')  %></p>
              </div>
              <%= link_to 'Read more...', recipe_path(second), class: 'position-absolute m-3 text-decoration-none text-warning fw-bold bottom-0' %>
            </div>
            <div class="col-3 position-relative grid-img">
              <div class="img-cover position-absolute h-100 w-100"></div>
              <%= image_tag second.image, class: "img-fluid cover h-100 w-100" %>
            </div>
          <% end %>
        </div>
      <% end %>
    <% end %>
 <% else %>
    <div class="h-87 d-flex justify-content-center align-items-center">
      <h1 class="text-warning fw-light fst-italic">No recipes here, go and create the first! :)</h1>
    </div>
 <% end %>
</div>
