<div class="row g-0 position-relative">
  <div class="img-cover position-absolute h-100 w-100"></div>
  <%= image_tag 'posts/cake.jpg', class: "img-fluid cover"%>
  <div class="w-100 h-100 position-relative img-cover">
    <div class="position-absolute img-bottom">
      <a href="#" class="text-decoration-none"><h1 class="text-warning fw-bold ">Lorem Ipsun</h1></a>
      <p class="text-light"><%= truncate(Category.first.recipes.first.content, length: 250, separator: ' ') %></p>
      <%= link_to "Read Mode", root_path, class: "text-warning text-decoration-none" %>
    </div>
  </div>
</div>

<div class="row g-0">
  <div class="col position-relative">
    <div class="img-cover position-absolute h-100 w-100"></div>
    <%= image_tag 'posts/chocolate-cake.jpg', class: "img-fluid cover h-100" %>
      <div class="position-absolute img-bottom">
        <h1 class="text-warning fw-bold">Cakes</h1>
        <p class="text-light">Lorem Ipsun</p>
      </div>
  </div>
  <div class="col position-relative">
    <div class="img-cover position-absolute h-100 w-100"></div>
    <%= image_tag 'posts/cupcake.jpg', class: "img-fluid cover h-100" %>
    <div class="position-absolute img-bottom">
      <h1 class="text-warning fw-bold">Cupcake</h1>
      <p class="text-light">Lorem Ipsun</p>
    </div>
  </div>
  <div class="col position-relative">
    <div class="img-cover position-absolute h-100 w-100"></div>
    <%= image_tag 'posts/chocolate.jpg', class: "img-fluid cover h-100" %>
    <div class="position-absolute img-bottom">
      <h1 class="text-warning fw-bold">Chocolate</h1>
      <p class="text-light">Lorem Ipsun</p>
    </div>
  </div>
  <div class="col position-relative">
    <div class="img-cover position-absolute h-100 w-100"></div>
    <%= image_tag 'posts/fondant.jpg', class: "img-fluid cover h-100" %>
    <div class="position-absolute img-bottom">
      <h1 class="text-warning fw-bold">Fondant</h1>
      <p class="text-light">Lorem Ipsun</p>
    </div>
  </div>
</div>