<div class="row g-0 h-87" >
  <div class="col">
    <%= image_tag @recipe.image, class: "w-100 object-fit-cover h-87" %>
  </div>
  <div class="col p-4 h-87 content">
    <h5 class="text-warning fw-bold border-bottom border-3 w-fit-content border-warning"><%= @recipe.category.name %></h5>
    <h1> <%= @recipe.title %></h1>
    <div class="d-flex flex-row justify-content-end align-items-center my-3">
      <%= button_to "Vote " + @recipe.vote.number_votes , recipe_vote_path(@recipe), class: 'btn btn-warning fw-bold text-light py-1 px-2 mx-3' %>
      <%= @recipe.created_at.strftime("%A, %d %b %Y")%>
    </div>
    <p> <%= @recipe.content %></p>
  </div>
</div>