<!DOCTYPE html>
<html>
  <head>
    <title>LifestyleCapstone</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <% if notice != nil %>
    <div id="alert" class="row position-absolute my-3 w-100" style="z-index: 1">
      <div class="col-4"></div>
      <div class="col-4 alert alert-success p-1 text-center start-0 end-0 mx-0" role="notice">
        <%= notice %>
      </div>
    <div class="col-4"></div>
    </div>
    <% end %>
    <% if alert != nil %>
    <div id="alert" class="row position-absolute my-3 w-100" style="z-index: 1">
      <div class="col-4"></div>
      <div class="col-4 alert alert-danger p-1 text-center start-0 end-0 mx-0" role="alert">
        <%= alert %>
      </div>
      <div class="col-4"></div>
    </div>
    <% end %>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
